@import url(assets/fonts/fonts.css);


body {
    font-family: Roboto, sans-serif;
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

.title {
    margin: 1rem 0;
    font-size: 40px;
    
}

h1 {
    font-weight: 100;
    letter-spacing: 0.2em;
}

.container {
    max-width: 800px;
}

.taskItem {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.centralFooter > span {
    border: 1px solid black;
    margin-right: 10px;
    padding: 2px;
}

.centralFooter > span:last-of-type {
    margin-right: 0px;
}

.button {
    cursor: pointer;
}

.strike {
    color: greenyellow;
    /* text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 0.05em; */
}

.input-field {
    padding: 0.5em;
    font-size: 2em;
    text-align: center;
    border-radius: 0.5em;
}

form {
    margin-bottom: 4rem;
}

input::placeholder {
    opacity: 0.3;
}

li {
    margin: 2em 0;
    font-size: 2em;
    text-transform: capitalize;
}



input[type="checkbox"]{
    accent-color: black;
    width:3em;
    height:3em;
    }